// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #ffd034;
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #ffd034;
$color-point: #484640;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #FFE180;
$bg-color-code: #FFF8E1;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;