// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #fae383;
$color-white: #FFFFFF;
$color-text:  #302F2D;
$color-gray: #5C5C59;
$color-green: #4D916E;
$color-gray-plus: #9A9A96;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-yellow:  #fae383;
$bg-color-gray: #f8f7f4;

// Border
$color-border: #ececea;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;