// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-base:
  -apple-system,
  BlinkMacSystemFont,
  'Spoqa Han Sans Neo'
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-monospace: 'IBM Plex Mono', "SF Mono", "Consolas", "Menlo", Courier, monospace;

$font-size-base:   20px;
$font-size-medium: 16.5px;
$font-size-small:  14px;
$font-size-tiny:   12px;
$font-size-sub: 10px;

$font-weight-light:   450;
$font-weight-regular: 530;
$font-weight-bold:    750;
$font-weight-bolder:  850;

$line-height-base:   round($font-size-base   *  1.7);
$line-height-medium: round($font-size-medium * 1.7);
$line-height-small:  round($font-size-small  * 1.55);
$line-height-tiny:   round($font-size-tiny   * 1.55);