/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  margin: 0 auto;
  max-width: 740px;

  &__title {
    font-size: double($font-size-medium);
    margin-bottom: 5px;
  }

  &__subtitle {

    font-size: double($font-size-sub);
    margin-bottom: $base-spacing-unit;
    color: $color-gray;
    line-height: 1.5;

    @include mq($from: tablet) {
      font-size: double($font-size-sub);
      color: $color-gray;
    }
  }

  &__date {
    position: relative;
    padding-top: $base-spacing-unit;
    display: block;
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    color: $color-gray;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      height: 1px;
      width: quadruple($base-spacing-unit);
      background: $color-gray;
      transform: translateX(-50%);
    }
  }

  &__image {
    margin-bottom: 0px;
  }

}