/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;
    padding: 4px 10px;
    margin: 0 2px 1px 0;

    font-size: $font-size-small;
    font-family: $font-base;
    line-height: $line-height-medium;
    border-radius: 20px;

    background-color: $bg-color-gray;
    transition: $global-transition;
    color: $color-gray;

    @include attention() {
      text-decoration: none;
      background-color: $color-brand;
      border-radius: 20px;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}