---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>
        
        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <h1 class='c-post__title'>{{ page.title }}</h1>
        <h6 class='c-post__subtitle'>{{ page.subtitle }}</h6>
        <div>
          <center>
            <font color="#9A9A96">by</font>
            <font color="#4D916E"><b>Haeon Lee</b></font>
            <font color="#9A9A96">{{page.date | date: '%Y/%m/%d' }}</font>
          </center>
        </div>
        <hr>

        <div class='c-content' itemprop='articleBody'>
          <br/>

          {{ content }}
        </div>

        <hr>

        <script src="https://utteranc.es/client.js"
        repo="haeonlee/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>

      </article>
    </div>
  </div>

  
</div>